{% assign metatitle = site.title %}
{% if page.title %}
  {% capture titlecase %}
    {% assign title_string = page.title | split: ' ' %}
    {% for title in title_string %}
      {{ title | capitalize }}
    {% endfor %}
    {% endcapture %}
  {% assign metatitle = metatitle | append: ' • ' | append: titlecase %}
{% endif %}

{% assign colors = "purple, green, brown, red, blue, purple, green, brown, red, blue" | split: ", " %}
{% assign color = colors[0] %}

{% for project in site.projects %}
  {% assign i = forloop.index | minus: 1 %}
  {% if page.layout == "project" and project.title == page.title %}
    {% assign color = colors[i] %}
  {% endif %}
{% endfor %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="title"
      property="og:title"
      content={{ site.title }} />
    <meta
      name="description"
      property="og:description"
      content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ metatitle }}</title>
    <link rel="stylesheet" href="/assets/styles/main.css?v=202408091336" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/favicon.ico">
    {% if page.layout == 'main' %}
      <script src="/assets/js/script.js" defer></script>
    {% else if page.layout == 'project' %}
      <script src="/assets/js/overlay-player.js" defer></script>
    {% endif %}
  </head>
  <body class="{{ color }}">
    {% include background.liquid %}
    {{ content }}
  </body>
</html>
