---
layout: base
---

<header>
  <div class="header-container">
    <nav class="nav-big">
      <ul>
        <li><a href="#about">about</a></li>
        <li><a href="#work">work</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </nav>
    <a href="/">
      <img
        class="main-logo main-logo-big"
        src="/assets/images/undoing-logo.png"
        alt="" />
    </a>
  </div>
</header>
<section class="section-wrapper">
  <div class="main-sound-player">
    <svg
      viewBox="0 0 85 67"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M43.6204 2.01013C48.9533 2.10115 53.9252 2.80592 58.5221 4.13507C63.4681 5.49647 67.7668 7.5411 71.4037 10.2633C75.0466 12.99 77.9055 16.3446 79.9994 20.3039L80.0048 20.3141C81.0293 22.312 81.7881 24.4497 82.2856 26.725C82.763 28.6966 83 30.7669 83 32.9339C83 33.0088 82.9997 33.0836 82.9992 33.1583C82.9997 33.2207 83 33.2832 83 33.3456L82.9997 33.5L83 33.6544C83 33.7169 82.9997 33.7793 82.9992 33.8417C82.9997 33.9164 83 33.9912 83 34.0661C83 36.2331 82.763 38.3034 82.2856 40.275C81.7881 42.5503 81.0292 44.688 80.0047 46.6859L79.9994 46.6961C77.9055 50.6554 75.0466 54.01 71.4037 56.7367C67.7668 59.4589 63.4681 61.5035 58.5221 62.8649C53.9251 64.1941 48.9532 64.8989 43.6203 64.9899C43.3708 64.9966 43.1183 65 42.8629 65C42.8161 65 42.7693 64.9999 42.7226 64.9998C42.6726 64.9999 42.6226 65 42.5726 65C42.5484 65 42.5242 65 42.5 65C42.4758 65 42.4516 65 42.4274 65L42.2774 64.9998L42.1371 65C41.8817 65 41.6292 64.9966 41.3797 64.9899C36.0468 64.8989 31.0749 64.1941 26.4779 62.8649C21.5319 61.5035 17.2332 59.4589 13.5963 56.7367C9.95342 54.01 7.09448 50.6554 5.00064 46.6961L4.99525 46.6859C3.97071 44.688 3.21191 42.5503 2.71436 40.275C2.23703 38.3034 2 36.2332 2 34.0661C2 33.9912 2.00028 33.9164 2.00082 33.8417C2.00027 33.7793 2 33.7168 2 33.6544C2 33.6029 2.0001 33.5515 2.00031 33.5001C2.0001 33.4487 2 33.3972 2 33.3456C2 33.2832 2.00027 33.2207 2.00082 33.1583C2.00028 33.0837 2 33.0089 2 32.9339C2 30.7669 2.23703 28.6966 2.71436 26.725C3.21191 24.4497 3.97078 22.312 4.99532 20.3141L5.00064 20.3039C7.09448 16.3446 9.95342 12.99 13.5963 10.2633C17.2332 7.5411 21.5319 5.49647 26.4779 4.13507C31.0749 2.8059 36.0469 2.10112 41.3798 2.01012C41.6292 2.00335 41.8817 2 42.1371 2L42.2774 2.00023L42.4274 2L42.5 2.00004L42.5726 2C42.6226 2 42.6726 2.00008 42.7226 2.00023C42.7693 2.00008 42.8161 2 42.8629 2C43.1184 2 43.3709 2.00336 43.6204 2.01013ZM14.1217 15.4246C11.8954 17.5047 9.98994 19.7835 8.40579 22.2635C6.9436 24.5972 5.96133 26.9835 5.45673 29.4251C5.22181 30.7303 5.08987 32.0885 5.06213 33.5C5.08987 34.9115 5.22183 36.2697 5.45676 37.575C5.96136 40.0165 6.9436 42.4029 8.40579 44.7365C9.98994 47.2165 11.8954 49.4953 14.1217 51.5754C15.2908 52.1767 16.3996 52.4323 17.4623 52.4323C19.1991 52.4323 20.7313 51.9422 22.1177 50.8478C23.6618 49.5576 25.0405 48.0291 26.2461 46.2535C27.4761 44.442 28.5644 42.5976 29.5112 40.7201C30.3834 38.7294 31.2223 37.1126 32.0318 35.8886C32.5759 34.9715 33.3419 34.2009 34.4094 33.7032C34.5339 33.6307 34.6624 33.5628 34.7946 33.5C34.6624 33.4372 34.5339 33.3693 34.4094 33.2968C33.3419 32.7991 32.5759 32.0286 32.0318 31.1114C31.2223 29.8874 30.3834 28.2706 29.5112 26.2799C28.5644 24.4024 27.4761 22.558 26.2461 20.7465C25.0405 18.9709 23.6618 17.4424 22.1177 16.1522C20.7313 15.0578 19.1991 14.5677 17.4623 14.5677C16.3996 14.5677 15.2908 14.8233 14.1217 15.4246ZM39.9511 4.28165C38.8762 4.39695 37.9501 4.60098 37.1587 4.88157C35.7716 5.37336 34.6898 5.97156 33.8756 6.66437L33.8525 6.68406L33.8281 6.70295C32.905 7.41696 32.3089 8.16324 31.9947 8.94311L31.9855 8.96584L31.975 8.98827C31.5324 9.92972 31.328 10.7731 31.328 11.5259C31.328 12.7655 31.7815 13.9073 32.6996 14.9726C33.7491 16.1904 34.8958 17.4441 36.1402 18.7338L36.166 18.7605L36.1895 18.7883C37.3777 20.1925 38.513 21.6981 39.5963 23.3043C40.7755 25.0526 41.3431 27.0362 41.3431 29.2287C41.3431 30.4456 41.1043 31.5445 40.4059 32.3536C40.0512 32.8004 39.5913 33.2101 39.0054 33.5C39.5913 33.7899 40.0512 34.1996 40.4059 34.6464C41.1043 35.4555 41.3431 36.5544 41.3431 37.7713C41.3431 39.9638 40.7755 41.9474 39.5963 43.6957C38.513 45.3019 37.3777 46.8075 36.1895 48.2117L36.166 48.2395L36.1402 48.2662C34.8958 49.5559 33.7491 50.8096 32.6996 52.0274C31.7815 53.0927 31.328 54.2345 31.328 55.4741C31.328 56.2269 31.5324 57.0703 31.975 58.0117L31.9855 58.0342L31.9947 58.0569C32.3089 58.8368 32.905 59.583 33.8281 60.297L33.8525 60.3159L33.8756 60.3356C34.6898 61.0284 35.7716 61.6266 37.1587 62.1184C37.9501 62.399 38.8762 62.603 39.951 62.7183C40.8018 62.7822 41.6514 62.8179 42.5 62.8259C43.3485 62.8179 44.1982 62.7822 45.0489 62.7183C46.1238 62.603 47.0499 62.399 47.8413 62.1184C49.2284 61.6266 50.3102 61.0284 51.1244 60.3356L51.1475 60.3159L51.1719 60.297C52.095 59.583 52.6911 58.8368 53.0053 58.0569L53.0145 58.0342L53.025 58.0117C53.4675 57.0703 53.672 56.2269 53.672 55.4741C53.672 54.2345 53.2184 53.0927 52.3004 52.0274C51.2509 50.8096 50.1042 49.5559 48.8598 48.2662L48.834 48.2395L48.8104 48.2117C47.6223 46.8075 46.487 45.3019 45.4037 43.6957C44.2245 41.9474 43.6569 39.9638 43.6569 37.7713C43.6569 36.5544 43.8957 35.4555 44.5941 34.6464C44.9488 34.1996 45.4087 33.7899 45.9945 33.5C45.4087 33.2101 44.9488 32.8004 44.5941 32.3536C43.8957 31.5445 43.6569 30.4456 43.6569 29.2287C43.6569 27.0362 44.2245 25.0526 45.4037 23.3043C46.487 21.6981 47.6223 20.1925 48.8104 18.7883L48.834 18.7605L48.8598 18.7338C50.1042 17.4441 51.2509 16.1904 52.3004 14.9726C53.2184 13.9073 53.672 12.7655 53.672 11.5259C53.672 10.7731 53.4675 9.92972 53.025 8.98827L53.0145 8.96584L53.0053 8.94311C52.6911 8.16324 52.095 7.41697 51.1719 6.70295L51.1475 6.68406L51.1244 6.66437C50.3102 5.97156 49.2284 5.37336 47.8413 4.88157C47.05 4.60098 46.1238 4.39696 45.049 4.28167C44.1982 4.21783 43.3485 4.18205 42.4999 4.17412C41.6514 4.18206 40.8018 4.21784 39.9511 4.28165ZM70.8784 15.4247C69.7092 14.8233 68.6004 14.5677 67.5377 14.5677C65.8009 14.5677 64.2687 15.0578 62.8823 16.1522C61.3382 17.4424 59.9595 18.9709 58.7539 20.7465C57.5239 22.558 56.4356 24.4024 55.4888 26.2799C54.6166 28.2706 53.7777 29.8874 52.9682 31.1114C52.4241 32.0286 51.6581 32.7991 50.5906 33.2968C50.4661 33.3693 50.3376 33.4372 50.2053 33.5C50.3376 33.5628 50.4661 33.6307 50.5906 33.7032C51.6581 34.2009 52.4241 34.9715 52.9682 35.8886C53.7777 37.1126 54.6166 38.7294 55.4888 40.7201C56.4356 42.5976 57.5239 44.442 58.7539 46.2535C59.9595 48.0291 61.3382 49.5576 62.8823 50.8478C64.2687 51.9422 65.8009 52.4323 67.5377 52.4323C68.6004 52.4323 69.7092 52.1767 70.8783 51.5754C73.1046 49.4953 75.0101 47.2165 76.5942 44.7365C78.0564 42.4029 79.0386 40.0165 79.5432 37.575C79.7782 36.2697 79.9101 34.9115 79.9379 33.5C79.9101 32.0885 79.7782 30.7303 79.5433 29.425C79.0386 26.9835 78.0564 24.5972 76.5942 22.2635C75.0101 19.7835 73.1046 17.5047 70.8784 15.4247Z" />
    </svg>
  </div>
  <div class="element-title-description sticky">
    <p>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {{ page.description }}
        {% endif %}
      {% endfor %}
    </p>
  </div>
  <section class="section-about" id="about">
    {% for page in site.pages %}
      {% if page.title == 'about' %}
        <article class="about-container">
          {{ page.content | markdownify }}
        </article>
      {% endif %}
    {% endfor %}
    <h2>who we are:</h2>
    <article class="profiles-wrapper">
      {% for page in site.pages %}
        {% if page.title == 'profile b' %}
          <div class="profile-container">
            {{ page.content | markdownify }}
          </div>
        {% endif %}
      {% endfor %}
      {% for page in site.pages %}
        {% if page.title == 'profile d' %}
          <div class="profile-container">
            {{ page.content | markdownify }}
          </div>
        {% endif %}
      {% endfor %}
    </article>
    <div class="element-title-description">
      <p>
        {% for page in site.pages %}
          {% if page.title == 'general' %}
            {{ page.description }}
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </section>
</section>
{% include section-work.liquid %}
<section class="section-contact" id="contact">
  <div class="contact-wrapper">
    <div class="contact-container">
      <div class="contact-element">
        <svg viewBox="0 0 85 68" xmlns="http://www.w3.org/2000/svg">
          <path d="M46.125 25.47L46.1362 25.4655L46.1472 25.4608C47.3401 24.9479 48.9196 24.3857 50.737 23.7394L50.7816 23.7236C54.5481 22.3841 59.2598 20.7085 63.0328 18.5016C66.7563 16.3237 69.9626 13.3978 69.9626 9.42514C69.9626 4.76147 66.1422 1 61.4533 1L11.9869 1.00008C5.92967 1.00008 1 5.85837 1 11.875L1.00001 55.1251C1.00001 61.1418 5.92968 66.0001 11.9869 66.0001L73.0131 66C79.0703 66 84 61.1417 84 55.125L84 32.7876C84 28.2985 82.1996 25.096 79.7119 23.0336C77.2556 20.9971 74.1741 20.1064 71.6033 20.1064C67.8363 20.1064 64.664 22.2015 61.5416 24.2636L61.4095 24.3508C57.5048 26.9289 53.4425 29.5888 47.698 29.5888C46.2354 29.5888 45.2268 29.3379 44.5908 29.0077C43.9652 28.6829 43.7482 28.3144 43.6921 28.0371C43.6343 27.7511 43.7034 27.3431 44.0848 26.861C44.4673 26.3774 45.1344 25.8679 46.125 25.47ZM42.2093 22.6417L42.2093 22.6417L42.202 22.6445C39.4872 23.6687 37.259 24.8986 35.5896 26.1878C33.9395 27.462 32.7564 28.856 32.2659 30.237C32.0162 30.9402 31.9359 31.6721 32.1063 32.3803C32.2788 33.0974 32.6898 33.7115 33.2878 34.1947C34.4441 35.1288 36.2886 35.5742 38.6634 35.5742C41.4347 35.5742 45.0126 34.9989 49.5215 33.6056L49.5387 33.6003L49.5558 33.5944C51.9687 32.7523 54.1565 32.0011 56.0365 32.0011C57.296 32.0011 58.2609 32.3981 58.9796 33.5298C59.7622 34.7623 60.3178 36.9658 60.3178 40.7584L60.3178 49.7761C60.3178 54.667 56.305 58.651 51.331 58.651L17.2795 58.6511C12.3055 58.6511 8.29255 54.6671 8.29255 49.7762L8.29254 10.7995C8.29254 10.187 9.1484 9.90891 9.49396 10.4838L9.52459 10.5348L9.56104 10.5817L17.42 20.7081C18.2274 21.8379 19.0866 22.6592 20.0428 23.1641C21.0197 23.68 22.032 23.8308 23.0697 23.7196C25.0483 23.5075 27.1836 22.3193 29.5014 20.9761L29.5111 20.9705L29.5207 20.9647L49.5754 8.73325C51.2108 7.79407 53.2297 8.9719 53.2297 10.7994C53.2297 15.9368 49.1551 20.0831 42.2093 22.6417Z" />
        </svg>
      </div>
      <div class="contact-element">
        <a href="mailto:hello@undoing.studio">hello[at]undoing.studio</a>
      </div>
      <div class="contact-element">
        <a href="mailto:blazej@undoing.studio">blazej[at]undoing.studio</a>
      </div>
      <div class="contact-element">
        <a href="mailto:daphne@undoing.studio">daphne[at]undoing.studio</a>
      </div>
    </div>
    <div class="contact-container">
      <div class="contact-element">
        <svg viewBox="0 0 85 68" xmlns="http://www.w3.org/2000/svg">
          <path d="M56.8755 34.7894L56.8873 34.7841L56.8989 34.7785C57.7361 34.3782 58.849 33.9375 60.1474 33.4239L60.1921 33.4062C62.8675 32.348 66.2486 31.0107 68.9625 29.2451C71.6566 27.4925 74.0008 25.1177 74.0008 21.8998C74.0008 17.5961 72.5607 12.3213 67.8066 8.13752C63.0668 3.96627 55.1693 1 42.4998 1C29.8303 1 21.9329 3.96627 17.1932 8.13753C12.4392 12.3214 10.9992 17.5961 10.9992 21.8998C10.9992 25.1177 13.3435 27.4925 16.0375 29.2451C18.7515 31.0107 22.1325 32.348 24.8079 33.4062L24.8526 33.4238C26.1509 33.9374 27.2641 34.3783 28.1012 34.7785L28.1128 34.7841L28.1246 34.7894C29.5104 35.4085 29.7808 36.2581 29.7143 36.6235C29.6628 36.9068 29.2183 37.667 27.1465 37.667C23.1849 37.667 20.3739 35.6325 17.5789 33.5799C17.5324 33.5458 17.4858 33.5116 17.4392 33.4774C15.2545 31.8721 12.9169 30.1544 10.1182 30.1544C8.19797 30.1544 5.92245 30.8929 4.11892 32.556C2.2909 34.2416 1 36.8284 1 40.409C1 46.0708 2.50493 50.5583 5.09219 54.0812C7.67211 57.5942 11.278 60.0804 15.3765 61.8353C23.5417 65.3316 33.8434 66 42.4998 66C51.1562 66 61.458 65.3316 69.6233 61.8353C73.7218 60.0804 77.3278 57.5942 79.9077 54.0812C82.495 50.5583 84 46.0708 84 40.409C84 36.8285 82.7091 34.2416 80.8811 32.556C79.0776 30.8929 76.8021 30.1544 74.8819 30.1544C72.0832 30.1544 69.7456 31.872 67.5609 33.4773C67.5143 33.5116 67.4677 33.5458 67.4212 33.5799C64.6261 35.6325 61.8152 37.667 57.8536 37.667C55.7818 37.667 55.3373 36.9068 55.2858 36.6235C55.2193 36.2581 55.4897 35.4085 56.8755 34.7894ZM31.1969 32.1921L31.1969 32.1921L31.189 32.1889C26.3319 30.1988 23.4938 26.9883 23.4938 22.9886C23.4938 17.8506 23.8187 14.4737 24.3612 12.3872C24.6328 11.3426 24.9402 10.6981 25.2285 10.3244C25.4961 9.97757 25.7162 9.8976 25.891 9.8823C26.1103 9.86313 26.4492 9.93206 26.944 10.2151C27.4314 10.494 27.9865 10.9328 28.6065 11.5178C29.8496 12.6907 31.2113 14.3123 32.6612 16.0414L32.6872 16.0724C34.2183 17.8982 35.8417 19.8342 37.4292 21.3118C38.23 22.0572 39.0512 22.7145 39.8772 23.1894C40.6996 23.6622 41.5859 23.9886 42.4997 23.9886C43.4135 23.9886 44.2998 23.6622 45.1222 23.1894C45.9482 22.7145 46.7694 22.0572 47.5702 21.3119C49.1577 19.8343 50.7812 17.8984 52.3122 16.0726L52.3383 16.0415C53.7882 14.3124 55.15 12.6908 56.3931 11.5178C57.0131 10.9329 57.5682 10.4941 58.0557 10.2152C58.5505 9.93207 58.8894 9.86313 59.1088 9.8823C59.2836 9.8976 59.5037 9.97758 59.7713 10.3244C60.0597 10.6981 60.3671 11.3426 60.6387 12.3872C61.1812 14.4737 61.5061 17.8506 61.5061 22.9886C61.5061 26.9883 58.6681 30.1988 53.8109 32.1889L53.8109 32.1888L53.803 32.1921C51.8423 33.0149 50.2269 34.0054 49.0122 35.0486C47.8118 36.0797 46.9413 37.216 46.5795 38.3492C46.2012 39.5339 46.3824 40.7656 47.368 41.6513C48.2716 42.4632 49.6844 42.8244 51.418 42.8244C53.4443 42.8244 56.0333 42.3572 59.2671 41.2458L59.2857 41.2395L59.3039 41.2324C61.0438 40.557 62.535 39.9936 63.7932 39.9936C64.2122 39.9936 64.5457 40.0716 64.8205 40.2217C65.0908 40.3693 65.367 40.6205 65.6225 41.0681C66.1578 42.0057 66.5552 43.7211 66.5552 46.7239C66.5552 52.9522 65.8585 56.452 64.8564 58.1826C64.379 59.0072 63.8834 59.3423 63.429 59.4606C62.9485 59.5857 62.3244 59.5179 61.5138 59.1639C59.86 58.4417 57.8904 56.7369 55.7808 54.5967C54.5646 53.3629 53.3826 52.0721 52.2216 50.8042C51.3537 49.8565 50.4975 48.9215 49.6476 48.0327C45.6449 43.8472 39.3545 43.8472 35.3519 48.0328C34.502 48.9216 33.6458 49.8566 32.7779 50.8044C31.6169 52.0722 30.4349 53.363 29.2188 54.5967C27.1093 56.7369 25.1396 58.4418 23.4859 59.1639C22.6753 59.5179 22.0512 59.5857 21.5707 59.4606C21.1164 59.3423 20.6209 59.0072 20.1434 58.1826C19.1413 56.452 18.4447 52.9522 18.4447 46.7239C18.4447 43.7211 18.8421 42.0057 19.3774 41.0681C19.6329 40.6206 19.9091 40.3693 20.1794 40.2217C20.4542 40.0716 20.7877 39.9936 21.2067 39.9936C22.4649 39.9936 23.9561 40.557 25.696 41.2324L25.7143 41.2395L25.7328 41.2458C28.9666 42.3572 31.5556 42.8244 33.582 42.8244C35.3155 42.8244 36.7283 42.4632 37.6319 41.6513C38.6175 40.7656 38.7987 39.5339 38.4204 38.3492C38.0586 37.216 37.1881 36.0797 35.9877 35.0486C34.7731 34.0054 33.1577 33.0149 31.1969 32.1921Z" />
        </svg>
      </div>
      <div class="contact-element">
        <a href="link-to-linkedin">linkedin</a>
      </div>
      <div class="contact-element">
        <a href="link-to-instagram">instagram</a>
      </div>
    </div>
  </div>
  <footer>
    <h6>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {{ page.description }}
        {% endif %}
      {% endfor %}
    </h6>
    <h6>
      undoing-lab
    </h6>
    <div>
      <!--
        <h6>
  <a href="/imprint">imprint</a>
      </h6>
      -->
      <h6>2024</h6>
    </div>
  </footer></section>
{%  comment  %} 
                                                                                                                              {% include work-navigation.liquid %}
{% endcomment %}
{{ content }}