---
layout: base
---

<header>
  <nav></nav>
  <img
    class="main-logo main-logo-big"
    src="/assets/images/undoing-logo.png"
    alt="" />
</header>
<section class="section-wrapper">
  <div class="element-title-description sticky">
    <p>
      {{ site.description }}
    </p>
  </div>
  <section class="section-title"></section>
  <section class="section-about">
    <article>
      {% for page in site.pages %}
        {% if page.title == 'about' %}
          <div class="about-container">
            {{ page.content | markdownify }}
          </div>
        {% endif %}
      {% endfor %}
    </article>
    <h1>who we are:</h1>
    <article>
      <div class="profiles-wrapper">
        {% for page in site.pages %}
          {% if page.title == 'profile b' %}
            <div class="profile-container">
              {{ page.content | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
        {% for page in site.pages %}
          {% if page.title == 'profile d' %}
            <div class="profile-container">
              {{ page.content | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
    <div class="element-title-description">
      <p>
        {{ site.description }}
      </p>
    </div>
  </section>
</section>
{%  comment  %} 
          {% include section-work.liquid %}
{% endcomment %}
<section class="section-contact">
  <div class="contact-wrapper">
    <div class="contact-container">
      <a href="mailto:collaborate@undoing.lab">collaborate@undoing.lab</a>
      <a href="mailto:contact@undoing.lab">contact@undoing.lab</a>
    </div>
    <div class="contact-container">
      <a href="link-to-linkedin">linkedin</a>
      <a href="link-to-instagram">instagram</a>
    </div>
  </div></section>
{%  comment  %} 
                        {% include work-navigation.liquid %}
{% endcomment %}
{{ content }}