---
layout: base
---

<main class="project-container">
  <a href="/#work" class="project-back-button">
    <span>➜</span>home
  </a>
  <section class="project-description">
    <div class="project-title">
      <h1>{{ page.title }}</h1>
    </div>
    <article>
      <div class="related-tags">
        <p>
          {% for tag in page.tags %}
            #{{ tag }}
          {% endfor %}
        </p>
      </div>
      <div class="project-text">{{ page.content | markdownify }}</div>
    </article>
  </section>
  <section class="project-media">
    {% for image in page.images %}
      <img src={{ image.src | prepend: '/assets/images/' }} alt="">
    {% endfor %}
    {% if page.sound.src != '' %}
      <audio src="{{ page.sound.src | prepend: '/assets/sounds/' }}"></audio>
      <section class="project-player-overlay-wrapper">

        <div class="player-progress-bar-container player-hidden">
          <div class="player-progress-bar"></div>
        </div>
        <div class="project-player-overlay project-container">
          <div class="player-controls">
            <svg
              class="player-play-button"
              viewBox="0 0 85 67"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M38.8528 25.4608L38.8639 25.4655L38.875 25.47C39.8656 25.8679 40.5327 26.3774 40.9153 26.861C41.2966 27.3431 41.3658 27.7511 41.3079 28.0371C41.2518 28.3144 41.0348 28.6829 40.4092 29.0077C39.7732 29.3379 38.7646 29.5888 37.302 29.5888C31.5575 29.5888 27.4953 26.9289 23.5905 24.3508C23.5465 24.3217 23.5025 24.2926 23.4584 24.2636C20.336 22.2015 17.1637 20.1064 13.3967 20.1064C10.826 20.1064 7.74437 20.9971 5.28808 23.0336C2.80043 25.096 1.00002 28.2985 1.00002 32.7876L1 55.125C1 61.1417 5.92968 66 11.9869 66L36.591 66C39.5576 66 42.4831 65.3053 45.1331 63.9715L74.3878 49.2471C80.282 46.2805 84.001 40.2451 84.001 33.6464C84.001 27.0919 80.3311 21.0892 74.4972 18.1013L45.1852 3.08892C42.5046 1.71599 39.5359 1 36.5241 1H23.5468C18.8578 1 15.0375 4.76147 15.0375 9.42514C15.0375 13.3978 18.2437 16.3237 21.9673 18.5016C25.7402 20.7085 30.4519 22.3841 34.2185 23.7236L34.263 23.7394C36.0805 24.3857 37.6599 24.9479 38.8528 25.4608ZM42.798 22.6445L42.7981 22.6444L42.7907 22.6417C35.8449 20.0831 31.7703 15.9368 31.7703 10.7994C31.7703 9.80284 32.3472 8.50994 33.2134 7.61569C34.1091 6.69096 34.8993 6.55556 35.4336 6.86521L35.4429 6.87061L35.4523 6.87581L70.7886 26.3497C73.2067 27.6823 74.7085 30.2247 74.7085 32.9856C74.7085 35.5662 73.272 37.9322 70.9824 39.1227L35.8102 57.4106C34.1749 58.2609 32.531 58.711 31.0622 58.2722C27.3628 57.1669 24.6822 53.7745 24.6822 49.7761L24.6822 40.7584C24.6822 36.9658 25.2378 34.7623 26.0204 33.5298C26.7391 32.3981 27.704 32.0011 28.9636 32.0011C30.8435 32.0011 33.0314 32.7523 35.4443 33.5944L35.4613 33.6003L35.4785 33.6056C39.9874 34.9989 43.5654 35.5742 46.3366 35.5742C48.7115 35.5742 50.5559 35.1288 51.7122 34.1947C52.3102 33.7115 52.7213 33.0974 52.8938 32.3803C53.0641 31.6721 52.9838 30.9402 52.7341 30.237C52.2436 28.856 51.0606 27.462 49.4104 26.1878C47.741 24.8986 45.5128 23.6687 42.798 22.6445Z" />
            </svg>
            <svg
              class="player-pause-button controls-hidden"
              viewBox="0 0 85 67"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M46.125 21.971L46.1362 21.9666L46.1472 21.9618C47.3401 21.449 48.9196 20.8868 50.737 20.2404C51.2834 20.0461 51.8742 19.8393 52.5001 19.6203C56.1776 18.3331 61.0641 16.6228 65.2511 14.5343C67.7011 13.3121 69.9753 11.9306 71.6503 10.3834C73.3151 8.84576 74.5163 7.02255 74.5163 4.92603C74.5163 3.84093 73.9132 3.05238 73.1401 2.52805C72.3964 2.0236 71.4266 1.70675 70.4326 1.49538C68.4319 1.06991 65.9644 0.999992 64.0163 1C62.8846 1 62.0138 1.38335 61.3351 2.06686C60.7087 2.69766 60.2908 3.54369 59.9282 4.35949C59.8213 4.59985 59.716 4.84476 59.6092 5.0933C58.9595 6.6045 58.2523 8.24947 56.7859 9.81795C54.9375 11.795 52.1905 13.8012 49.4212 15.4908C46.656 17.1779 43.944 18.5038 42.2093 19.1428L42.2093 19.1427L42.202 19.1455C39.4872 20.1698 37.259 21.3996 35.5896 22.6888C33.9395 23.9631 32.7564 25.357 32.2659 26.738C32.0162 27.4412 31.9359 28.1731 32.1063 28.8813C32.2788 29.5984 32.6898 30.2126 33.2878 30.6957C34.4441 31.6299 36.2886 32.0752 38.6634 32.0752C41.4347 32.0752 45.0126 31.4999 49.5215 30.1067L49.5387 30.1014L49.5558 30.0954C51.9686 29.2534 54.1566 28.5021 56.0365 28.5021C57.296 28.5021 58.2609 28.8991 58.9796 30.0309C59.7622 31.2633 60.3178 33.4669 60.3178 37.2594L60.3178 49.7763C60.3178 53.0146 58.5614 55.8536 55.9256 57.4054C54.719 58.1158 53.926 59.0409 53.6607 60.1263C53.3941 61.2171 53.7084 62.2741 54.3199 63.1393C55.5174 64.8333 57.9636 66 60.6545 66H73.5C79.6222 66 84 61.0754 84 55.1252L84 29.2887C84 24.7995 82.1996 21.597 79.7119 19.5346C77.2556 17.4982 74.1741 16.6074 71.6033 16.6074C67.8363 16.6074 64.664 18.7025 61.5416 20.7646L61.4095 20.8518C57.5048 23.43 53.4424 26.0899 47.698 26.0899C46.2354 26.0899 45.2268 25.839 44.5908 25.5088C43.9652 25.184 43.7482 24.8154 43.6921 24.5382C43.6343 24.2521 43.7034 23.8442 44.0848 23.362C44.4673 22.8784 45.1344 22.3689 46.125 21.971ZM38.875 45.029L38.8638 45.0334L38.8528 45.0382C37.6599 45.551 36.0804 46.1132 34.263 46.7596C33.7166 46.9539 33.1258 47.1607 32.4999 47.3797C28.8224 48.6669 23.9359 50.3772 19.7489 52.4657C17.2989 53.6879 15.0247 55.0694 13.3497 56.6166C11.6849 58.1542 10.4837 59.9774 10.4837 62.074C10.4837 63.1591 11.0868 63.9476 11.8599 64.472C12.6036 64.9764 13.5734 65.2933 14.5674 65.5046C16.5681 65.9301 19.0356 66 20.9837 66C22.1154 66 22.9862 65.6166 23.6649 64.9331C24.2913 64.3023 24.7092 63.4563 25.0718 62.6405C25.1787 62.4001 25.284 62.1552 25.3908 61.9067C26.0405 60.3955 26.7477 58.7505 28.2141 57.1821C30.0625 55.205 32.8095 53.1988 35.5788 51.5092C38.344 49.8221 41.056 48.4962 42.7907 47.8572L42.7907 47.8573L42.798 47.8545C45.5128 46.8302 47.741 45.6004 49.4104 44.3112C51.0605 43.0369 52.2436 41.643 52.7341 40.262C52.9838 39.5588 53.0641 38.8269 52.8937 38.1187C52.7212 37.4016 52.3102 36.7874 51.7122 36.3043C50.5559 35.3701 48.7114 34.9248 46.3366 34.9248C43.5653 34.9248 39.9874 35.5001 35.4785 36.8933L35.4613 36.8986L35.4442 36.9046C33.0314 37.7466 30.8434 38.4979 28.9635 38.4979C27.704 38.4979 26.7391 38.1009 26.0204 36.9691C25.2378 35.7367 24.6822 33.5331 24.6822 29.7406L24.6822 17.2237C24.6822 13.9854 26.4386 11.1464 29.0744 9.59459C30.281 8.88416 31.074 7.95911 31.3393 6.87369C31.6059 5.78292 31.2916 4.7259 30.6801 3.86069C29.4826 2.16667 27.0364 1 24.3455 1H11.5C5.37785 1 1.00003 5.92455 1.00003 11.8748L1 37.7113C1 42.2005 2.80042 45.403 5.28806 47.4654C7.74435 49.5018 10.8259 50.3926 13.3967 50.3926C17.1637 50.3926 20.336 48.2975 23.4584 46.2354L23.5905 46.1482C27.4952 43.57 31.5576 40.9101 37.302 40.9101C38.7646 40.9101 39.7732 41.161 40.4092 41.4912C41.0348 41.816 41.2518 42.1846 41.3079 42.4618C41.3657 42.7479 41.2966 43.1559 40.9152 43.638C40.5327 44.1216 39.8656 44.631 38.875 45.029Z" />
            </svg>
          </div>
          <div class="player-title player-hidden">
            <p>{{ page.sound.src }}</p>
            <p>{{ page.sound.src }}</p>
          </div>

          <div class="player-progress-num player-hidden">
            <p>
              <span class="player-progress-num-current">00:00</span>/<span class="player-progress-num-duration">00:00</span>
            </p>
          </div>

        </div>
      </section>
    {% endif %}
  </section>
  <section class="project-related-nav">
    <div class="related-nav-element related-previous">
      {% if page.previous %}
        <h6>previous project</h6>
        <a href={{ page.previous.url }}>
          <h4>{{ page.previous.title | prepend: '&#60; ' }}</h4>
        </a>
      {% endif %}
    </div>
    <div class="related-nav-element related-next">
      {% if page.next %}
        <h6>next project</h6>
        <a href={{ page.next.url }}>
          <h4>{{ page.next.title | append: ' &#62;' }}</h4>
        </a>
      {% endif %}
    </div>
  </section>

</main>