<section class="section-contact" id="contact">
  <div class="contact-wrapper">
    <div class="contact-container">
      <div class="contact-element">
        <svg viewBox="0 0 85 68" xmlns="http://www.w3.org/2000/svg">
          <path d="M46.125 25.47L46.1362 25.4655L46.1472 25.4608C47.3401 24.9479 48.9196 24.3857 50.737 23.7394L50.7816 23.7236C54.5481 22.3841 59.2598 20.7085 63.0328 18.5016C66.7563 16.3237 69.9626 13.3978 69.9626 9.42514C69.9626 4.76147 66.1422 1 61.4533 1L11.9869 1.00008C5.92967 1.00008 1 5.85837 1 11.875L1.00001 55.1251C1.00001 61.1418 5.92968 66.0001 11.9869 66.0001L73.0131 66C79.0703 66 84 61.1417 84 55.125L84 32.7876C84 28.2985 82.1996 25.096 79.7119 23.0336C77.2556 20.9971 74.1741 20.1064 71.6033 20.1064C67.8363 20.1064 64.664 22.2015 61.5416 24.2636L61.4095 24.3508C57.5048 26.9289 53.4425 29.5888 47.698 29.5888C46.2354 29.5888 45.2268 29.3379 44.5908 29.0077C43.9652 28.6829 43.7482 28.3144 43.6921 28.0371C43.6343 27.7511 43.7034 27.3431 44.0848 26.861C44.4673 26.3774 45.1344 25.8679 46.125 25.47ZM42.2093 22.6417L42.2093 22.6417L42.202 22.6445C39.4872 23.6687 37.259 24.8986 35.5896 26.1878C33.9395 27.462 32.7564 28.856 32.2659 30.237C32.0162 30.9402 31.9359 31.6721 32.1063 32.3803C32.2788 33.0974 32.6898 33.7115 33.2878 34.1947C34.4441 35.1288 36.2886 35.5742 38.6634 35.5742C41.4347 35.5742 45.0126 34.9989 49.5215 33.6056L49.5387 33.6003L49.5558 33.5944C51.9687 32.7523 54.1565 32.0011 56.0365 32.0011C57.296 32.0011 58.2609 32.3981 58.9796 33.5298C59.7622 34.7623 60.3178 36.9658 60.3178 40.7584L60.3178 49.7761C60.3178 54.667 56.305 58.651 51.331 58.651L17.2795 58.6511C12.3055 58.6511 8.29255 54.6671 8.29255 49.7762L8.29254 10.7995C8.29254 10.187 9.1484 9.90891 9.49396 10.4838L9.52459 10.5348L9.56104 10.5817L17.42 20.7081C18.2274 21.8379 19.0866 22.6592 20.0428 23.1641C21.0197 23.68 22.032 23.8308 23.0697 23.7196C25.0483 23.5075 27.1836 22.3193 29.5014 20.9761L29.5111 20.9705L29.5207 20.9647L49.5754 8.73325C51.2108 7.79407 53.2297 8.9719 53.2297 10.7994C53.2297 15.9368 49.1551 20.0831 42.2093 22.6417Z" />
        </svg>
      </div>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {% for email in page.emails %}
            <div class="contact-element">
              <a href="mailto:{{ email.address }}">{{ email.text }}</a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="contact-container">
      <div class="contact-element">
        <svg viewBox="0 0 85 68" xmlns="http://www.w3.org/2000/svg">
          <path d="M56.8755 34.7894L56.8873 34.7841L56.8989 34.7785C57.7361 34.3782 58.849 33.9375 60.1474 33.4239L60.1921 33.4062C62.8675 32.348 66.2486 31.0107 68.9625 29.2451C71.6566 27.4925 74.0008 25.1177 74.0008 21.8998C74.0008 17.5961 72.5607 12.3213 67.8066 8.13752C63.0668 3.96627 55.1693 1 42.4998 1C29.8303 1 21.9329 3.96627 17.1932 8.13753C12.4392 12.3214 10.9992 17.5961 10.9992 21.8998C10.9992 25.1177 13.3435 27.4925 16.0375 29.2451C18.7515 31.0107 22.1325 32.348 24.8079 33.4062L24.8526 33.4238C26.1509 33.9374 27.2641 34.3783 28.1012 34.7785L28.1128 34.7841L28.1246 34.7894C29.5104 35.4085 29.7808 36.2581 29.7143 36.6235C29.6628 36.9068 29.2183 37.667 27.1465 37.667C23.1849 37.667 20.3739 35.6325 17.5789 33.5799C17.5324 33.5458 17.4858 33.5116 17.4392 33.4774C15.2545 31.8721 12.9169 30.1544 10.1182 30.1544C8.19797 30.1544 5.92245 30.8929 4.11892 32.556C2.2909 34.2416 1 36.8284 1 40.409C1 46.0708 2.50493 50.5583 5.09219 54.0812C7.67211 57.5942 11.278 60.0804 15.3765 61.8353C23.5417 65.3316 33.8434 66 42.4998 66C51.1562 66 61.458 65.3316 69.6233 61.8353C73.7218 60.0804 77.3278 57.5942 79.9077 54.0812C82.495 50.5583 84 46.0708 84 40.409C84 36.8285 82.7091 34.2416 80.8811 32.556C79.0776 30.8929 76.8021 30.1544 74.8819 30.1544C72.0832 30.1544 69.7456 31.872 67.5609 33.4773C67.5143 33.5116 67.4677 33.5458 67.4212 33.5799C64.6261 35.6325 61.8152 37.667 57.8536 37.667C55.7818 37.667 55.3373 36.9068 55.2858 36.6235C55.2193 36.2581 55.4897 35.4085 56.8755 34.7894ZM31.1969 32.1921L31.1969 32.1921L31.189 32.1889C26.3319 30.1988 23.4938 26.9883 23.4938 22.9886C23.4938 17.8506 23.8187 14.4737 24.3612 12.3872C24.6328 11.3426 24.9402 10.6981 25.2285 10.3244C25.4961 9.97757 25.7162 9.8976 25.891 9.8823C26.1103 9.86313 26.4492 9.93206 26.944 10.2151C27.4314 10.494 27.9865 10.9328 28.6065 11.5178C29.8496 12.6907 31.2113 14.3123 32.6612 16.0414L32.6872 16.0724C34.2183 17.8982 35.8417 19.8342 37.4292 21.3118C38.23 22.0572 39.0512 22.7145 39.8772 23.1894C40.6996 23.6622 41.5859 23.9886 42.4997 23.9886C43.4135 23.9886 44.2998 23.6622 45.1222 23.1894C45.9482 22.7145 46.7694 22.0572 47.5702 21.3119C49.1577 19.8343 50.7812 17.8984 52.3122 16.0726L52.3383 16.0415C53.7882 14.3124 55.15 12.6908 56.3931 11.5178C57.0131 10.9329 57.5682 10.4941 58.0557 10.2152C58.5505 9.93207 58.8894 9.86313 59.1088 9.8823C59.2836 9.8976 59.5037 9.97758 59.7713 10.3244C60.0597 10.6981 60.3671 11.3426 60.6387 12.3872C61.1812 14.4737 61.5061 17.8506 61.5061 22.9886C61.5061 26.9883 58.6681 30.1988 53.8109 32.1889L53.8109 32.1888L53.803 32.1921C51.8423 33.0149 50.2269 34.0054 49.0122 35.0486C47.8118 36.0797 46.9413 37.216 46.5795 38.3492C46.2012 39.5339 46.3824 40.7656 47.368 41.6513C48.2716 42.4632 49.6844 42.8244 51.418 42.8244C53.4443 42.8244 56.0333 42.3572 59.2671 41.2458L59.2857 41.2395L59.3039 41.2324C61.0438 40.557 62.535 39.9936 63.7932 39.9936C64.2122 39.9936 64.5457 40.0716 64.8205 40.2217C65.0908 40.3693 65.367 40.6205 65.6225 41.0681C66.1578 42.0057 66.5552 43.7211 66.5552 46.7239C66.5552 52.9522 65.8585 56.452 64.8564 58.1826C64.379 59.0072 63.8834 59.3423 63.429 59.4606C62.9485 59.5857 62.3244 59.5179 61.5138 59.1639C59.86 58.4417 57.8904 56.7369 55.7808 54.5967C54.5646 53.3629 53.3826 52.0721 52.2216 50.8042C51.3537 49.8565 50.4975 48.9215 49.6476 48.0327C45.6449 43.8472 39.3545 43.8472 35.3519 48.0328C34.502 48.9216 33.6458 49.8566 32.7779 50.8044C31.6169 52.0722 30.4349 53.363 29.2188 54.5967C27.1093 56.7369 25.1396 58.4418 23.4859 59.1639C22.6753 59.5179 22.0512 59.5857 21.5707 59.4606C21.1164 59.3423 20.6209 59.0072 20.1434 58.1826C19.1413 56.452 18.4447 52.9522 18.4447 46.7239C18.4447 43.7211 18.8421 42.0057 19.3774 41.0681C19.6329 40.6206 19.9091 40.3693 20.1794 40.2217C20.4542 40.0716 20.7877 39.9936 21.2067 39.9936C22.4649 39.9936 23.9561 40.557 25.696 41.2324L25.7143 41.2395L25.7328 41.2458C28.9666 42.3572 31.5556 42.8244 33.582 42.8244C35.3155 42.8244 36.7283 42.4632 37.6319 41.6513C38.6175 40.7656 38.7987 39.5339 38.4204 38.3492C38.0586 37.216 37.1881 36.0797 35.9877 35.0486C34.7731 34.0054 33.1577 33.0149 31.1969 32.1921Z" />
        </svg>
      </div>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {% for link in page.links %}
            <div class="contact-element">
              <a href="{{ link.url }}" target="_blank">{{ link.text }}</a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <footer>
    <h6>
      {% for page in site.pages %}
        {% if page.title == 'general' %}
          {{ page.description }}
        {% endif %}
      {% endfor %}
    </h6>
    <h6>
      undoing
    </h6>
    <div>
      <!--
        <h6>
  <a href="/imprint">imprint</a>
      </h6>
      -->
      <h6>2024</h6>
    </div>
  </footer>
</section>
